.svg-sprite-icon 
  fill: $black

.icon-location 
  fill: none 
  stroke: $green
  stroke-width: 1.5px
  +box(18px)
  &.c-black 
    stroke: $black

.icon-arrow-down
  +box(12px)
  
.icon-heart
  +box(17px,16px)

.icon-notification
  +box(15px,18px)
  
.icon-reset
  +box(12px,100%)

.icon-metro
  +box(20px,14px)

.icon-man 
  +box(18px)

.icon-calendar
  +box(15px)
  
.icon-eye
  +box(17px,14px)