.popup 
    position: fixed 
    top: 0 
    left: 0 
    width: 100% 
    height: 100vh 
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1))
    z-index: 9
    display: inline-flex
    overflow-y: auto
    opacity: 0
    pointer-events: none 
    transition: all 0.3s ease
    &.active 
        opacity: 1
        pointer-events: auto
    &-container 
        margin: auto
        max-width: 1170px 
        width: 100% 
        background-color: $white
        box-shadow: 0px 4px 60px rgba(118, 118, 118, 0.25)
        border-radius: 10px
    &-head 
        padding: 30px 30px 30px 40px
    &-title 
        font-weight: bold
        font-size: 24px
        line-height: 26px
        color: #222222
    &-body
        overflow-y: auto 
        padding: 0 23px 30px 40px
        max-height: 435px

        &_row
            display: grid 
            grid-gap: 30px
            grid-template-columns: repeat(3, 1fr)
    &-footer
        +d-flex(flex-end, center)
        background: $bg-white
        box-shadow: 0px 1px 26px rgba(146, 146, 146, 0.25)
        padding: 24px 30px
        button 
            max-width: none
            width: fit-content
            margin-left: 20px

.grid-halfs 
    display: grid 
    grid-template-columns: 1fr 1fr
    grid-column-gap: 16px

.unit
    position: relative 
    &:before 
        content: attr(data-unit)
        +centerY 
        right: 17px
        font-size: 16px
        line-height: 165%
        color: #ACACAC
        z-index: 2