@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */


@media only screen and (min-width : 320px)
    .btns 
        display: flex
        flex-direction: column-reverse

@media only screen and (min-width : 481px)
    .flex-sm-center-between 
        +d-flex(space-between,center)
    .d-sm-inline
        display: inline
    .d-sm-none
        display: none
    .d-sm-block
        display: block
    .ml-sm-30
        margin-left: 30px
    .align-items-sm-center
        display: flex 
        align-items: center
    .mb-sm-0
        margin-top: 0
@media only screen and (min-width : 640px)
    .d-mmd-block
        display: block
    .d-mmd-none
        display: none
    .justify-content-mmd-between
        display: flex
        justify-content: space-between
    .flex-mmd-row
        display: flex 
        flex-direction: row
    .align-items-mmd-center
        display: flex 
        align-items: center
    .flex-mmd-center-between
        +d-flex(space-between,center)
    

@media only screen and (min-width : 992px)
    .d-lg-none 
        display: none
    .d-lg-block
        display: block

@media only screen and (min-width : 1020px)   
    .burger 
        display: none
    .d-md-block 
        display: block
    .d-md-none
        display: none
    .d-md-flex 
        display: flex
    .btns 
        display: flex
        justify-content: flex-end
        flex-direction: row
        width: 50%
    .ml-md-20 
        margin-left: 20px
    .justify-md-content-between
        display: flex
        justify-content: space-between
@media only screen and (min-width : 1250px)   
    .btns 
        width: 100% 
        justify-content: space-between

@media only screen and (max-width : 1249px)
    .form-col:first-child
        width: 50.34%
    .form-col:nth-child(2)
        width: 26.13%
    .form-col:nth-child(3)
        width: 20.11%
    .card__useful-links
        width: calc(33.33% - 14px)
        margin-right: 20px
        background-position: right -115px bottom
        &.big 
            width: calc(66.67% - 6px)
            background-position: right -150px bottom
    
    .slider-container
        padding: 0 30px
    .slider3
        height: 30.4vw
        .slider-for img 
            height: 30.4vw
    .block-user
        width: 330px 
        margin-left: 20px
    .ads-left 
        width: calc(100% - 330px - 20px)
    
    
@media only screen and (max-width : 1020px)
    .slider-arrows, .dots
        display: none 
    .slider
        margin: 0 -40px   
    .box
        padding: 50px 30px 
        .slider
            margin: 0 -30px
        .slider-container
            padding-right: 0
    .card__new-ads, .card__new-news
        margin-right: 20px
    .fifth-section .box
        background-size: auto 355px
        background-position: right -315px center
    .popup-body_row 
        grid-template-columns: repeat(2, 1fr)
    .ads-section_col
        padding-left: 20px
        max-width: 490px
    .slider2 
        display: block   
        width: 395px
        flex-shrink: 0
        height: 100%
    .slider-for    
        width: 100%
        img
            height: 282px   
    .slider-nav
        display: flex
    .slider-nav_slide
        width: calc(25% - 8px)
        height: 62px
        margin: 10px 10px 0 0 
    .card__ads-list_content
        padding: 10px 30px
    
    .slider3 .slider-nav
        display: none
    .slider3 .slider-for
        width: 100% 
        margin-right: 0
    .ads-row
        flex-direction: column-reverse
    .ads-left 
        width: 100% 
    .block-user
        margin: 0 0 30px 0 
        width: 100%
        +d-flex(space-between,center)
    .block-user .btn1
        margin-top: 0
        max-width: 320px 
        width: 100%
        margin-left: 20px
    .slider3
        height: 47.6vw
        .slider-for img
            height: 47.6vw
        
@media only screen and (max-width : 1019px)
    .wrapper
        padding-top: 89px
    .form-col
        width: 100%!important
        max-width: 100%!important
    .header-top, .navmain
        display: none
    .header .btn1 
        margin-left: 20px
    .btn1
        +box(24px)
        border: none 
        line-height: 1
        padding: 0
        svg 
            margin-right: 0
            +box(20px)
            fill: $gray
        &:hover 
            background-color: transparent 
            svg 
                fill: $green
    
    .block-user .btn1
        +box(100%,auto)
        line-height: 58px
        border: 1px solid #00AD64
    .header-main
        padding: 19px 0
    .logo 
        margin-right: 18px
    .navmain 
        position: absolute
        top: 100%
        left: 0
        width: 100% 
        height: calc(100vh - 90px)
        margin: 0
        background: $bg-white 
        z-index: 9
    .menumain 
        padding: 0 40px
        display: block
    .menumain-link
        margin: 0 0 20px 0
    .btns button 
        max-width: 100%
    .search form
        padding-bottom: 20px
    .tab
        padding: 17px 30px
    .first-section
        padding: 85px 0
    .container 
        padding: 0 30px
    .header-main .container 
        padding: 0 40px
    .slider
        margin: 0 -30px
    .slider-container
        padding: 0 30px
    .fourth-section, .fifth-section
        padding: 0 30px 60px
@media only screen and (max-width : 991px)
    .card__useful-links, .card__useful-links.big 
        width: 100%
        margin-right: 0
        margin-top: 20px
    .card__useful-links
        background-position: right bottom
    .card__useful-links.big
        background-position: right -140px bottom
    .fourth-section, .fifth-section
        padding: 0 0 60px
    .box
        padding: 50px 40px
    .box .slider 
        margin: 0 -40px
    .box .slider-container
        padding-left: 40px
    .fifth-section .box
        background-size: auto 217px
        background-position: right -230px center
    .footer-row
        flex-wrap: wrap 
        justify-content: flex-start
    .footer-col 
        width: 33.33%
    .footer
        padding: 40px 10px 0
    .footer-bottom_t_row
        display: block
    .socials li:first-child 
        .social 
            margin-left: 0
    .footer_m-item
        margin: 0 12px 20px!important
    
    .popup-body_row 
        grid-template-columns: 1fr
    .popup-head, .popup-footer
        padding: 30px 40px   
    .popup-body 
        padding: 0 33px 30px 40px
    .popup-container
        height: 100vh
        border-radius: 0
        display: flex 
        flex-direction: column
        justify-content: space-between
    .popup-body
        max-height: none
    .popup-footer 
        flex-direction: column-reverse
        button 
            width: 100% 
            margin: 20px 0 0 0   
            &:last-child
                margin-top: 0

    .slider3 
        height: 75vw
        .slider-for img 
            height: 75vw
    
    .block-user .btn1
        max-width: none
        width: fit-content
        padding: 0 30px
        white-space: nowrap
    .ads-section_col
        max-width: 440px
    .card__ads-list_info
        flex-wrap: wrap
    .slider2
        width: 340px
    .slider-for img
        height: 250px
    .popup
        position: static
        overflow-y: initial
    .popup-container
        height: auto
    .popup-head
        position: sticky
        top: 0
        background-color: $bg-white 
        z-index: 9
    .popup-body
        overflow-y: initial
    .popup-footer
        position: sticky
        bottom: 0
        z-index: 9

@media only screen and (max-width : 767px)
    .ads_scroll-y 
        max-height: none
        padding-right: 0 
        margin-right: 0
        .card__ads
            display: none
            margin-top: 0
            &:first-child 
                display: block
    .card__ads_img
        height: 43.75vw
    #map 
        position: static
        width: 100%
        margin-top: 20px
    .ads-section_col
        max-width: 100%
        padding-left: 0   
    .card__ads-list
        display: block
        max-width: 100%
        margin: 0 auto 20px
    .slider2
        margin: 10px auto 20px
        max-width: 520px 
        width: 100%
    .card__ads-list_content
        max-width: 520px 
        width: 100%
        padding: 10px 0 20px
        margin: 0 auto
@media only screen and (max-width : 639px)
    #map
        margin-top: 20px
    .menumain, .header-main .container
        padding: 0 30px
    .navmain-head
        padding: 20px 30px
    .logo 
        +box(176px,43px)
    .first-section 
        background-position: right 37% top
        .title 
            text-align: center
        .container
            padding: 0 10px
    .third-section
        padding: 20px 0 60px
        .title2
            display: none
        .container 
            padding: 0
    .card__useful-links.big
        background-position: right -300px bottom
    .fifth-section .box
        padding-bottom: 169px
        background-size: auto 245px
        background-position: center top 160% 
    .footer-bottom .link2
        margin-bottom: 20px
    .popup-head, .popup-footer
        padding: 30px
    .popup-body 
        padding: 0 23px 30px 30px
    .card__ads-list_info-metro
        margin-top: 20px
    .card__ads-list
        padding: 10px 20px
    .block-user
        display: block
    .block-user .btn1
        width: 100% 
        margin: 20px 0 0 0
    .article_title
        font-size: 20px
        line-height: 22px
    .article_price
        font-size: 24px
        line-height: 25.4px
    .article_btns .btn3
        width: 47px
        span 
            display: none
        svg 
            margin: 0 
    
@media only screen and (max-width : 560px)
    .modal-b.active .modal-b_head 
        display: block
        .btn4 
            margin-top: 20px
    .modal-b.active #map
        height: calc(100vh - 223px - 25px - 43.75vw - 20px)

@media only screen and (max-width : 480px)
    .box
        padding: 50px 20px
    .box .slider
        margin: 0 -20px
    .box .slider-container
        padding: 0 0 0 20px
    .footer
        padding: 40px 0 0
        .container
            padding: 0 20px
    .slider3 
        height: 80.9vw
        margin: 0 -20px 30px
        .slider-for img
            height: 80.9vw
    .article
        padding: 0 20px 30px
    .card__ads_img
        height: 58.33vw
    
    .modal-b.active #map
        height: calc(100vh - 223px - 25px - 58.33vw - 20px)
@media only screen and (max-width : 479px)
    .logo 
        background-image: url("../img/logo/logomob.png")
        +box(112px,30px)
        margin-right: 15px
    .burger
        +box(40px)
    .burger-line 
        width: 14.4px
        &-top 
            top: 13.6px 
        &-bottom 
            bottom: 13.6px
    .header-main .container, .menumain
        padding: 0 40px
    .navmain-head
        padding: 20px 40px
    .header-main
        padding: 25px 0
    .header .btn1 
        margin-left: 25px
    .first-section 
        padding: 55px 0 70px
        background-position: right 42% top
        .title 
            font-size: 25px 
            line-height: 27.5px
        .container
            padding: 0 35px
    .search
        margin-top: 30px
    .search form
        padding: 30px 12px 20px 12px
    .card
        width: 320px
        margin-right: 20px
    .card__useful-links
        background-position: right -90px bottom
    .card__new-ads
        width: 270px
    .third-section .container
        padding: 0 10px
    .fourth-section
        padding: 0 10px 50px
    .box
        padding: 50px 35px
    .box .slider
        margin: 0 -35px
    .box .slider-container
        padding: 0 0 0 35px
    .footer-col 
        width: 50%
    .footer .title2
        font-size: 20px 
        line-height: 22px
    .footer
        .container 
            padding: 0 45px
    .footer-bottom
        padding: 20px 0 30px
    .popup-head, .popup-footer
        padding: 30px 47px
    .popup-body 
        padding: 0 40px 30px 47px
    
    .card__ads_b 
        display: block
        .btn
            max-width: 100%
    .card__ads_b-price 
        display: flex 
        margin-bottom: 20px
        p 
            margin-bottom: 0
    .modal-b_head 
        display: block
        .btn4 
            margin-top: 20px
@media only screen and (max-width : 413px)
    .container, .footer .container, .first-section .container, .header-main .container, .menumain 
        padding: 0 15px
    .box
        padding: 50px 15px
    .box .slider, .slider
        margin: 0 -15px
    .box .slider-container, .slider-container
        padding: 0 15px
    .logo
        width: 100px
    .header .btn1
        margin-left: 20px
    .navmain-head
        padding: 20px 15px
    .card
        width: 300px
        margin-right: 15px
    .card img
        height: 230px
    .card__new-ads, .card__new-news
        width: 250px
        img 
            height: 190px
    .card_bottom 
        padding: 0 15px 15px 15px
    .card__useful-links
        padding: 20px
        min-height: 273px
    .card__useful-links
        background-position: right -120px bottom
    .card__useful-links.big
        background-position: right -375px bottom
    .icon-eye
        width: 14px
    .icon-calendar
        width: 13px
    .popup-head, .popup-footer
        padding: 20px 15px
    .popup-body 
        padding: 0 8px 20px 15px
    .popup-body_row
        grid-row-gap: 20px
    input, textarea, .select-item
        padding: 17px 13px
    .unit:before, .form-price:after
        right: 13px
    .form-price:before
        left: 13px
    .form-price input
        padding: 17px 40px
    #btn-change
        margin-top: 20px
    .card__ads-list
        padding: 10px
        .btn2
            padding: 0 24px
    .slider-nav_slide
        width: calc(33.33% - 6px)
    .article
        padding: 0 10px 20px
    .slider3 
        margin: 0 -10px 30px
    .block-user
        padding: 20px
    .main-ads .container
        padding: 0 10px
    .card__ads_img
        height: 67.6vw
    .card__ads_content
        padding: 10px
    .favorites
        top: 10px 
        right: 10px
    .modal-b.active .modal-b_head
        padding: 25px 15px 0
    .modal-b.active #map
        height: calc(100vh - 173px - 25px - 67.6vw - 20px)

