@import "utils/libs"
@import "utils/vars"
@import "utils/mixins"
@import "utils/fonts"
@import "utils/sprite"
@import "utils/base"

.wrapper 
  padding-top: 143px 
  
.container 
  max-width: $desktop
  width: 100% 
  margin: 0 auto 
  padding: 0 40px

.link
  font-weight: bold
  color: $green
  border-bottom: 1px solid #00AD64
  line-height: 15.4px
  white-space: nowrap
  width: fit-content
  height: fit-content

.link2
  text-decoration-line: underline

.title, h1 
  font-weight: bold
  font-size: 35px
  line-height: 39px
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.19)

.title2, h2 
  font-weight: bold
  font-size: 24px
  line-height: 26px

.text1
  font-weight: bold
  font-size: 16px
  line-height: 140%
  color: $black

.select
  width: 100%
  background: #F5F5F5
  border-radius: 5px
  position: relative
  .icon-arrow-down
    margin-left: 5px
  &-normal 
    background-color: transparent
    width: fit-content
    .select-item
      padding: 0 
  &-item
    +d-flex(space-between, center)
    padding: 17px 20px
    font-size: 16px
    line-height: 165%
    cursor: pointer
    &.active 
      .icon-arrow-down
        transform: scaleY(-1)
  &-drop 
    position: absolute
    top: 100% 
    left: 0 
    background: #F5F5F5
    width: 100%
    padding: 7px 0
    display: none
    max-height: 150px
    overflow-y: auto
    z-index: 3
  &-option 
    padding: 10px 20px
    cursor: pointer

.checkbox 
  display: none 
  &:checked ~ .tab 
    box-shadow: 8px 0px 20px rgba(205, 205, 205, 0.29)
    color: $black

.tab 
  font-weight: bold
  color: $gray
  padding: 17px 30px
  cursor: pointer
  display: block

@import "modules/modules"

.w-100
  width: 100% 
  
.hidden-xy
  overflow: hidden

.relative
  position: relative

.h-fit 
  height: fit-content

.w-fit-content 
  width: fit-content

.line-clamp
  display: block
  display: -webkit-box
  -webkit-box-orient: vertical
  position: relative
  font-size: 16px
  line-height: 26.4px
  overflow: hidden
  text-overflow: ellipsis

.line-clamp:after
  content: '...'
  text-align: center
  bottom: 0
  right: 0
  width: 25%
  display: block
  position: absolute
  height: calc(1em * 26.4px)
  color: $gray
  background: linear-gradient(to left, rgba(241, 242, 246, 0.1), rgba(241, 242, 246, 0.5) 75%)

@supports (-webkit-line-clamp: 2)
  .line-clamp:after
    display: none !important
  .line-clamp
    -webkit-line-clamp: 2
    height: calc(1em * 26.4px * 2)

@import "utils/media"