extends layout/main

block variables
	-var title = 'Каталог'
	-var filter = true

block content
	main.main
		section.sixth-section
			.container

				include layout/search-property

		section.ads-section
			.container
				.ads-section_col.list
					.modal-b.w-100
						.flex-center-between.mb-5.modal-b_head 
							div
								h2.title2.mb-20 55 632 объявлений
								.d-flex 
									p.fs-16.mr-5 Сортировка:
									.select.select-normal.stopPropagation
										.select-item 
											span.c-green Рекомендуемые
											+icon("arrow-down", "c-green")
										.select-drop
											ul.select-menu 
												each val, index in ['Рекомендуемые', 'Популярные']
													li.select-option(class=index==0?'active':'')=val
							button.btn4#btn-change(type="button")
								span.btn-change-list
									+icon("list","c-green")
									span.c-green.fw-bold СПИСКОМ
								span.btn-change-onmap
									+icon("onmap","c-green")
									span.c-green.fw-bold НА КАРТЕ
								
						#map
							img(src="img/common/map.jpg", alt="map" width="100%" height="100%") 
						.ads_scroll-y 
							- 
								cardAds = [
									{
										img: 'img.jpg',
										info1: '2-комн.кв.',
										info2: '40 м² ',
										info3: '5/12 этаж',
										place: 'Москва, ул. Ясеневая 27/25',
										price: '12 700 000 ₽',
										area: '237 451 ₽/м² ',
									},
									{
										img: 'img.jpg',
										info1: '2-комн.кв.',
										info2: '40 м² ',
										info3: '5/12 этаж',
										place: 'Москва, ул. Ясеневая 27/25',
										price: '12 700 000 ₽',
										area: '237 451 ₽/м² ',
									},
									{
										img: 'img.jpg',
										info1: '2-комн.кв.',
										info2: '40 м² ',
										info3: '5/12 этаж',
										place: 'Москва, ул. Ясеневая 27/25',
										price: '12 700 000 ₽',
										area: '237 451 ₽/м² ',
									},
									{
										img: 'img.jpg',
										info1: '2-комн.кв.',
										info2: '40 м² ',
										info3: '5/12 этаж',
										place: 'Москва, ул. Ясеневая 27/25',
										price: '12 700 000 ₽',
										area: '237 451 ₽/м² ',
									}
								]
							each val in cardAds 
								+cardAds(val.img,val.info1,val.info2,val.info3,val.place,val.price,val.area)
					ul.list-cards__ads
						-var card = 4
						while card--
							li.card__ads-list
								.slider2
									.slider-for
										-var n = 4
										while n--
											img(src="img/common/img.jpg", alt="img" )
									.slider-nav
										-var n = 3
										while n--
											.slider-nav_slide.active
												img(src="img/common/img.jpg", alt="img")
										.slider-nav_slide.active
											img(src="img/common/img.jpg", alt="img")
											button.btn-more-slide(type="button") +20
										.slider-nav_slide
											img(src="img/common/img.jpg", alt="img")
								.card__ads-list_content 
									.w-100
										.justify-content-between 
											div 
												p.fs-20.fw-bold.mb-5 12 700 000 ₽
												p.c-gray.mb-5 237 451 ₽/м² 
											.align-items-center.h-fit 
												+icon("time","mr-5 c-gray")
												p.c-gray.fs-12 22 дня назад
										.card__ads-list_info
											p 
												span.mr-15 2-комн.кв.
												span.mr-15 40 м² 
												span 5/12 этаж
										.card__ads-list_info.align-items-mmd-center
											.align-items-center.mr-15 
												+icon("location","mr-5 c-black")
												p Москва, ул. Ясеневая 27/25
											.align-items-center.card__ads-list_info-metro
												.align-items-center.mr-15  
													+icon("metro","mr-5 c-gray")
													p Авиамоторная
												.align-items-center 
													+icon("man","mr-5 c-gray")
													p.c-gray 7 мин
									.d-flex.mt-30
										a.btn2.lh-45.mr-10(href="#") 
											span.c-green ПОКАЗАТЬ КОНТАКТЫ
										button.favorites.__v3(type="button")
											+icon("heart", "c-gray")

							
											